ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 350px;
  }
  
  li a {
    color: black;
    padding: 12px 20px 12px 20px;
  }
  li{
      display: block;
      float: left;
  }